# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Streamlit config
.streamlit/

# MacOS
.DS_Store

# Logs
*.log

# Package metadata
pip-wheel-metadata/
